/* || Global and Repeat Font Styles */

/*Reset browser defaults*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set fonts for the title and footer p's*/
#site-title, footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Set main theme font family and color */
p, h2, h3, #navigation-links li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

/* || Header & Nav */

/* Set header box padding and background */
header {
    padding: 20px;
    background-color: #2a607c;
}

/* Set  font and color for title */
header > h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

/* Set color variation for letters "seo" in title */
#site-title #seo {
    color: #d9dcd6;
}

/* Set nav box spacing */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

/* Set style for nav links box */
#navigation-links li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Set font of nav links */
#navigation-links li a {
    font-size: 20px;
    text-decoration: none;
}

/* || Hero Banner */

/* Set size and margin for hero banner */
#hero-banner {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

/* || Main Body settings */

/* Set background color and for body */
body {
    background-color: #d9dcd6;
    font-size: 16px;
}

/* || Services Section */

/* Set display, size, and spacing for Services section */
#our-services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Set spacing and background for Services div boxes */
#our-services div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* Set height for images in Service section */
#our-services img{ max-height: 200px;
}

/* Set class to float picture on left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set class to float picture on right  */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Set font for headings in Service section */
#our-services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* || Benefits Section */

/* Positions Benefits section to the right of the page, keeping it narrow and away from right border*/
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Set margins for bottom of each div in Benefits */
#benefits div {
    margin-bottom: 32px;
}

/* Set placement and spacing for h3s */
#benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Format images and spacing in Benefits */
#benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* || Footer */

/* Set text alignment and padding for Footer box */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

/* Sets text color for footer p's */
footer p {
    color: #000000
}

/* Set special font size and weight for "Made-by" line*/
h4 {
    font-size: 20px;
    font-weight: bold;
}
