* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p, h2, h3, #navigation-links li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

#site-title, footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #2a607c;
}

#site-title {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

#site-title #seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

#navigation-links li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

#navigation-links li a {
    font-size: 20px;
    text-decoration: none;
}

#market-meeting {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

#our-services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.service img {
    max-height: 200px;
}

.service .float-left {
    float: left;
    margin-right: 25px;
}

.service .float-right {
    float: right;
    margin-left: 25px;
}

.service h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer p {
    color: #000000
}

#made-by {
    font-size: 20px;
    font-weight: bold;
}
